* {
  border: 0;
  padding: 0;
}

/**** Header ****/

/*navi*/

.navi {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5em 3em 0.5em 3em;
  background-color: black;
  color: white;
}
.navi ul li a {
  color: white;
  padding: 0.8em 0.7em 0.8em 0.7em;
  border-radius: 30px;
  font-weight: 600;
}
.navi ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.navi ul li a.aanmelden {
  color: black;
  background-color: white;
}
.navi ul li a.aanmelden:hover {
  background-color: rgb(221, 221, 221);
}
a.logo {
  display: block;
  width: 100px;
  color: white;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  height: 50px;
}
.navi ul {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.navi ul li {
  padding-left: 0.3em;
  padding-right: 0.3em;
}
.big {
  flex: 1 2 0;
}
.fa-globe,
.fa-th,
.fa-user-o,
.fa-map-marker {
  padding-right: 0.7em;
}
.screen {
  display: none;
}

.mobil {
  display: inline;
}

/*Collaps navbar*/
.navi ul li ul#innavi {
  width: 200px;
  position: absolute;
  margin-top: -20px;
  display: none;
  padding-top: 44px;
}
.box {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px;
}
.navi ul li ul#innavi li a {
  display: block;
  height: 35px;
  line-height: 35px;
  color: rgb(117, 117, 117);
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.navi ul li ul#innavi li:hover {
  background-color: rgb(240, 240, 240);
}
.bedrijf:hover ul#innavi {
  display: block;
}
ul#innavi:hover {
  display: block;
}

/****Main***/

/*sub-nav*/
.sub-nav ul {
  border-bottom: rgb(224, 224, 224) solid 2px;
  display: flex;
  justify-content: flex-start;
  background-color: white;
  height: 8em;
  padding-top: 0.5em;
}
.sub-nav ul li:first-child {
  border-bottom: rgb(0, 0, 0) solid 3px;
}
.sub-nav ul li {
  width: 105px;
}
.sub-nav ul li a {
  display: block;
  padding: 1px 12px 20px 12px;
  color: black;
  text-align: center;
  line-height: 1em;
  font-weight: 600;
}
.sub-nav ul li a:hover {
  color: #545454;
}
.sub-nav .pict {
  height: 35px;
  margin-bottom: 10px;
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: center;
}
.sub-nav .beloning {
  background-image: url(images/Earn-filled.svg);
}
.sub-nav .instappen {
  background-image: url(images/car-front-outlined.svg);
}
.sub-nav .eten {
  background-image: url(images/restaurant-outlined.svg);
}
.sub-nav .freight {
  background-image: url(images/truck-outlined.svg);
}
.sub-nav .zakelijk {
  background-image: url(images/briefcase-outlined.svg);
}
.sub-nav .ov {
  background-image: url(images/train-outlined.svg);
}

.sub-nav .fiets {
  background-image: url(images/bike-outlined.svg);
}

/*card*/

.card1 {
  max-width: 1280px;
  margin: 2em;
  background-color: white;
}
.card1 p {
  font-size: 16px;
  margin-top: 0;
}

.link {
  color: rgb(0, 0, 0);
  line-height: 50px;
  height: 50px;
  padding-bottom: 6px;
  background-image: linear-gradient(transparent calc(100% - 1px), #000000 1px),
    linear-gradient(transparent calc(100% - 1px), #cbcbcb 1px);
  background-size: 0% 6px, 100% 6px;
  background-repeat: no-repeat;
  background-position: 0 bottom, 0 bottom;
  transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
}
.link:hover {
  background-size: 100% 6px, 100% 6px;
  background-position: 0 bottom, 0 bottom;
}
h1 {
  margin-top: 0px;
  font-size: 44px;
  font-weight: 500;
}

.card1 div a {
  display: block;
  width: 270px;
  line-height: 50px;
  height: 50px;
  text-align: center;
  background-color: black;
  color: white;
  font-weight: 700;
  margin-right: 1em;
  padding: 0 1em 0 1em;
  font-size: 16px;
}
.card1 div a:hover {
  background-color: rgb(41, 41, 41);
}

/*banner*/

.banner {
  height: 362px;
  background-image: url(images/Product-Masthead-Mobile.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

/*section 1*/

.block1 {
  max-width: 1280px;
  margin: 2em;
}
.block1 p {
  font-size: 16px;
}
.block1 p a {
  color: rgb(187, 187, 187);
}

h2 {
  margin-top: 0px;
  font-size: 32px;
  font-weight: 510;
}

/*block2*/
.block2 {
  height: 400px;
  background-image: url(images/modalities_3x2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

/*business*/
.gallery img {
  width: 100%;
}
.business {
  margin: 2em;
}
h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 510;
}
.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-around;
}
.gallery .item {
  margin-bottom: 2em;
}

/****Footer****/
footer {
  color: white;
  font-size: 1.2em;
  line-height: 2em;
}
footer .container {
  width: 90%;
  padding: 3em 0 3em 0;
}
footer h3 {
  font-size: 1.3em;
  font-weight: 400;
}
footer a {
  color: white;
}
footer a:hover,
footer a:active {
  color: rgb(158, 158, 158);
}

.list {
  display: flex;
  width: 70%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.list ul {
  width: 100%; /*one column of links in the footer*/
}

.socials {
  margin: 30px auto 30px -11px;
}
.socials a {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-right: 10px;
}
.socials a:hover,
.location a:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}
.location a {
  padding: 10px;
  margin-left: -10px;
}
.copyright,
.privacy a {
  color: rgb(158, 158, 158);
  font-size: 0.7em;
}
.privacy a:hover {
  color: rgb(105, 105, 105);
}

@media screen and (min-width: 600px) and (max-width: 1135px) {
  .list ul {
    width: 50%; /*two columns of links in the footer*/
  }
  .gallery .item {
    width: calc(50% - 2em); /*two columns in the gallery*/
  }
}

@media screen and (min-width: 647px) and (max-width: 1135px) {
  .card1 div {
    float: left; /* two links in a row on card1*/
  }
  .block2 {
    height: 640px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1119px) {
  .banner {
    height: 503px;
    background-image: url(images/Product-Masthead-Tablet.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

@media screen and (min-width: 1120px) {
  .banner {
    height: 760px;
    background-image: url(images/Product-Masthead-Desktop_2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1136px) {
  .screen {
    display: inline; /*navbar voor screen*/
  }
  .mobil {
    display: none;
  }
  .sub-nav {
    float: left;
    width: 100%;
  }
  .sub-nav ul {
    justify-content: space-around;
    margin: 4em 6em 0 6em;
    padding-top: 2em;
  }
  .sub-nav ul li {
    width: 100px;
  }
  .sub-nav .pict {
    background-size: 24px;
  }
  .card1 {
    float: left;
    margin: 0 0 0 6em;
    width: 570px;
    padding: 48px;
  }
  h1 {
    line-height: 64px;
    font-size: 52px;
    font-weight: 600;
  }
  .banner {
    background-color: #f6f6f6;
  }

  .block2 {
    height: 700px;
    background-image: url(images/Modalities_banner_home.jpg);
    background-color: #f6f6f6;
  }
  .block1 {
    margin-top: 0;
  }
  h2 {
    font-size: 36px;
  }
  .block1 {
    width: 540px;
    padding: 50px;
  }
  .gallery .item {
    width: calc(33% - 2em); /*tree columns in the gallery*/
  }
  /*footer for screen*/
  .list ul {
    width: auto; /*three columns of links in the footer*/
  }
  .socials {
    float: left;
    margin-right: 50px;
  }
  .location {
    margin-top: 30px;
  }
  .location p {
    display: inline;
    margin-top: 30px;
  }
  .apps {
    float: right;
    margin-top: -40px;
  }
  .copyright {
    position: absolute;
    margin-top: 30px;
    padding-bottom: 30px;
  }
  .privacy {
    text-align: right;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 25px;
  }
  .privacy a {
    padding-left: 20px;
  }
}
