* {
  border: 0;
  padding: 0;
}
body {
}

/**** Header ****/

/*navi*/
.navi {
  display: flex;
  justify-content: space-evenly;
  padding-left: 5em;
  padding-right: 5em;
  background-color: black;
  color: white;
}
.navi ul li a {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  padding: 0.3em 0.7em 0.3em 0.7em;
}
a.logo {
  display: block;
  width: 100px;
  color: white;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  height: 50px;
}
.navi ul {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.navi ul li {
  padding-left: 0.3em;
  padding-right: 0.3em;
}
.big {
  flex: 1 2 0;
  border: blue solid 2px;
}

/*sub-nav*/
.sub-nav {
  border: blue solid 2px;
}
.sub-nav ul {
  border-bottom: rgb(224, 224, 224) solid 2px;
  display: flex;
  justify-content: space-around;
  flex: 1;
  background-color: burlywood;
}
.sub-nav ul li:first-child {
  border-bottom: rgb(0, 0, 0) solid 3px;
}
.sub-nav ul li {
  height: 74px;
  width: 105px;
}
.sub-nav ul li a {
  //border: rgb(212, 50, 163) solid 2px;
  display: block;
  padding: 1px 12px 20px 12px;
  color: black;
  text-align: center;
  line-height: 1em;
}
.sub-nav .pict {
  height: 30px;
  //border: rgb(67, 85, 119) solid 2px;
  margin-bottom: 5px;
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: center;
}
.sub-nav .beloning {
  background-image: url(/images/Earn-filled.svg);
}
.sub-nav .instappen {
  background-image: url(/images/car-front-outlined.svg);
}
.sub-nav .eten {
  background-image: url(/images/restaurant-outlined.svg);
}
.sub-nav .freight {
  background-image: url(/images/truck-outlined.svg);
}
.sub-nav .zakelijk {
  background-image: url(/images/briefcase-outlined.svg);
}
.sub-nav .ov {
  background-image: url(/images/bike-outlined.svg);
}

.sub-nav .fiets {
  background-image: url(/images/bike-outlined.svg);
}

/*card*/

.card1 {
  border: rgb(182, 23, 97) solid 2px;
  max-width: 1280px;
  margin: 2em;
}
.card1 p {
  font-size: 16px;
}
.card1 p a {
  text-decoration: underline;
  color: rgb(187, 187, 187);
}
.link {
  color: rgb(0, 0, 0);

  //background-image: linear-gradient(transparent calc(100% - 1px), #000000 1px),
  //  linear-gradient(transparent calc(100% - 1px), #cbcbcb 1px);
}
h1 {
  margin-top: 0px;
  font-size: 36px;
  font-weight: 520;
}

.card1 div a {
  display: block;
  width: 230px;
  line-height: 40px;
  height: 40px;
  text-align: center;
  background-color: black;
  color: white;
  font-weight: 700;
}

/*banner*/
.banner {
  max-width: 1349px;
  height: 760px;
  background-color: ;
  background-image: url(images/Product-Masthead-Desktop_2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

/****Main***/

/*section 1*/

.block1 {
  border: rgb(182, 23, 97) solid 2px;
  max-width: 1280px;
  margin: 2em;
}
.block1 p {
  font-size: 16px;
}
.block1 p a {
  text-decoration: underline;
  color: rgb(187, 187, 187);
}
.link {
  color: rgb(0, 0, 0);

  //background-image: linear-gradient(transparent calc(100% - 1px), #000000 1px),
  //  linear-gradient(transparent calc(100% - 1px), #cbcbcb 1px);
}
h2 {
  margin-top: 0px;
  font-size: 32px;
  font-weight: 520;
}

/*block2*/
.block2 {
  max-width: 2560px;
  height: 1200px;
  background-color: ;
  background-image: url(images/Modalities_banner_home.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
